* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--Red: hsl(1, 90%, 64%);
	--Blue: hsl(219, 85%, 26%);
	--White: hsl(0, 0%, 100%);
	--Very-light-grayish-blue: hsl(210, 60%, 98%);
	--Light-grayish-blue-1: hsl(211, 68%, 94%);
	--Light-grayish-blue-2: hsl(205, 33%, 90%);
	--Grayish-blue: hsl(219, 14%, 63%);
	--Dark-grayish-blue: hsl(219, 12%, 42%);
	--Very-dark-blue: hsl(224, 21%, 14%);
}
@font-face {
	font-family: Plus Jakarta Sans;
	src: url("../fonts/PlusJakartaSans-VariableFont_wght.ttf");
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.main-container {
	display: flex;
	flex-direction: column;
	font-family: Plus Jakarta Sans;
	font-size: 16px;
	width: 70%;
	padding: 20px;
	margin: auto 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.notifications-header-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-row-left {
	display: flex;
	align-items: center;
	gap: 10px;
}
.notification-heading {
	font-size: 20px;
	font-weight: bold;
}
.notifications-count {
	color: var(--White);
	padding: 3px 10px;
	background-color: var(--Blue);
	border-radius: 5px;
}
.mark-all-read {
	color: var(--Blue);
	cursor: pointer;
}
.notifications-column {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}
.notification-item-column {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.notification-item-container-row {
	display: flex;
	align-items: center;
	gap: 10px;
}
.profile-image {
	width: 40px;
}
.notification-text-column {
	display: flex;
	flex-direction: column;
}
.notification-text {
	color: var(--Dark-grayish-blue);
}
.profile-name {
	color: var(--Very-dark-blue);
	font-weight: bold;
	cursor: pointer;
}
.post-reference-text {
	font-weight: bold;
	cursor: pointer;
}
.group-reference-text {
	color: var(--Blue);
	font-weight: bold;
	cursor: pointer;
}
.message-text {
	color: var(--Dark-grayish-blue);
	width: 60%;
	margin: 0 0 0 50px;
	padding: 10px;
	border: 1px solid var(--Light-grayish-blue-1);
	border-radius: 5px;
	cursor: pointer;
	transition: 0.4s;
}
.message-text:hover {
	background-color: var(--Light-grayish-blue-1);
}
.image-post-reference {
	width: 40px;
	align-self: flex-end;
	margin: 0 0 0 auto;
	cursor: pointer;
}
.notification-badge {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: var(--Red);
	margin: -18px 0 0 0;
}
.notification-time {
	font-weight: 600;
	color: var(--Dark-grayish-blue);
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
